<%= form_with model: question, local: true, data: { turbo: false } do |form| %>
  <% if question.errors.present? %>
    <div>
      <h2><%= pluralize(question.errors.count, 'ошибка') %> не позволили сохранить вопрос:</h2>
      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :body, "Текст вопроса:" %><br>
    <%= form.text_area :body, id: "question_body", rows: 4, required: true %>
  </fieldset>

  <div>
    <%= form.submit submit_text || "Сохранить вопрос", id: "submit_question" %>
  </div>
<% end %>
