<%= form_with url: sessions_path, local: true, data: { turbo: false } do |form| %>
  <%= flash_message(:alert) %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :email, value: @email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :password %>
  </p>

  <p><%= form.submit 'Войти' %></p>
<% end %>|
