<%= link_to t("common.back"), admin_question_path(@answer.question), class: "btn btn-secondary mb-2" %>

<h1><%= Question.model_name.human %></h1>

<p>
  <%= @answer.question.body %>
</p>

  <p>
    <b><%= Answer.human_attribute_name(:body) %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= Answer.human_attribute_name(:correct) %>:</b>
  <%= @answer.correct ? "Да" : "Нет" %>
</p>
