<%= link_to t("common.back"), admin_question_path(@answer.question), class: "btn btn-secondary mb-2" %>

<h1 class="mb-2"><%= Question.model_name.human %></h1>

<p class="lead mb-4">
  <%= @answer.question.body %>
</p>

<dl>
  <dt>
    <b><%= Answer.human_attribute_name(:body) %>:</b>
  </dt>
  <dd>
    <%= @answer.body %>
  </dd>
  <dt>
    <b><%= Answer.human_attribute_name(:correct) %>:</b>
  </dt>
  <dd>
    <%= @answer.correct ? t('common.yes') : t('common.no') %>
  </dd>
</dl>
