<%= form_with model: [:admin, test],
              url: update_inline_admin_test_path(test),
              local: true,
              class: 'd-flex hide',
              data: { test_id: test.id, turbo: false } do |form| %>
  <div class="d-flex gap-2">
    <%= form.label :title, class: "form-label hide" %>
    <%= form.text_field :title, id: "test_title", required: true, class: "form-control" %>

    <div class="d-flex gap-1">
      <%= button_tag type: "button", class: "btn btn-secondary cancel-button", data: { test_id: test.id } do %>
        <%= octicon 'x' %>
      <% end %>
      <%= button_tag type: "submit", class: "btn btn-primary submit-button" do %>
        <%= octicon 'check' %>
      <% end %>
    </div>
  </div>
<% end %>
