<%= form_with model: [:admin, test], local: true, data: { turbo: false } do |form| %>
  <%= render "shared/errors", resource: test %>

  <fieldset>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: "test_title", required: true %>

    <%= form.label :level %>
    <%= form.number_field :level, id: "test_level", min: 0, max: 4, required: true %>

    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :title, { prompt: t('helpers.select.test.category_id') }, required: true %>
  </fieldset>

  <div>
    <%= form.submit id: "submit_button" %>
  </div>
<% end %>
