<h1 class="mb-4"><%= t(".header") %></h1>

<div class="container p-0 justify-content-space-between">
  <%= link_to t(".add_test"), new_admin_test_path, class: "btn btn-info mb-4" %>
  <%= link_to t(".add_test"), new_admin_test_path, class: "btn btn-info mb-4" %>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t("common.tables.name_column") %></th>
      <th scope="col"><%=t("common.tables.level_column") %></th>
      <th scope="col"><%=t(".table.questions_quantity_column") %></th>
      <th scope="col" colspan="3"><%=t("common.tables.actions_column") %></th>
    </tr>
  </thead>

  <tbody>
  <%= render @tests %>
  </tbody>
</table>
