<h1><%= t("tests.index.header") %></h1>

<p>
  <%= link_to t("tests.index.add_test"), new_admin_test_path %>
</p>

<table>
  <thead>
    <tr>
      <th><%=t("tests.index.table.name_column") %></th>
      <th><%=t("tests.index.table.level_column") %></th>
      <th><%=t("tests.index.table.questions_quantity_column") %></th>
      <th><%=t("tests.index.table.actions_column") %></th>
    </tr>
  </thead>

  <tbody>
  <%= render @tests %>
  </tbody>
</table>
