<h1 class="mb-4"><%= t(".header") %></h1>

<div class="container p-0 d-flex justify-content-between mb-4">
  <%= link_to t(".add_test"), new_admin_test_path, class: "btn btn-info" %>
  <div>
    <%= link_to t(".view_gists"), admin_gists_path, class: "btn btn-secondary" %>
    <%= link_to t(".view_badges"), admin_badges_path, class: "btn btn-secondary" %>
  </div>
</div>

<%= render 'shared/errors', resource: @test %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <button class="btn btn-outline-dark sort-by-title pointer" type="button" id="test-table-sort">
          <%=t("common.tables.name_column") %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-danger hide' %>
        </button>
      <th scope="col"><%=t("common.tables.level_column") %></th>
      <th scope="col"><%=t(".table.questions_quantity_column") %></th>
      <th scope="col" colspan="3"><%=t("common.tables.actions_column") %></th>
    </tr>
  </thead>

  <tbody id="user-tests-rows">
    <%= render @tests %>
  </tbody>
</table>
