<%= form_with model: test, local: true, data: { turbo: false } do |form| %>
  <% if test.errors.present? %>
    <div>
      <h2><%= pluralize(test.errors.count, 'ошибки') %> не позволили сохранить тест:</h2>
      <ul>
        <% test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :title, "Название теста:" %><br>
    <%= form.text_field :title, id: "test_title", required: true %>

    <%= form.label :level, "Уровень" %>
    <%= form.number_field :level, id: "test_level", min: 0, max: 4, required: true %>

    <%= form.label :category_id, "Категория" %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, required: true %>

    <%= form.hidden_field :creator_id, value: 1 %>
  </fieldset>

  <div>
    <%= form.submit submit_text || "Сохранить", id: "submit_button" %>
  </div>
<% end %>
