<h1><%= t(".header") %></h1>

<table>
  <thead>
    <tr>
      <th><%=t("table.name_column") %></th>
      <th><%=t("table.level_column") %></th>
      <th><%=t("table.questions_quantity_column") %></th>
      <th><%=t("table.actions_column") %></th>
    </tr>
  </thead>

  <tbody>
  <%= render @tests %>
  </tbody>
</table>
