<h1><%= t("admin.tests.index.header") %></h1>

<table>
  <thead>
    <tr>
      <th><%=t("common.tables.name_column") %></th>
      <th><%=t("common.tables.level_column") %></th>
      <th><%=t("admin.tests.index.table.questions_quantity_column") %></th>
      <th><%=t("common.tables.actions_column") %></th>
    </tr>
  </thead>

  <tbody>
  <%= render @tests %>
  </tbody>
</table>
