<% content_for :title do %>
  Добавить новый тест <%= @test.title %>
<% end %>

<%= link_to 'Back', tests_path %>

<h1>Добавьте новый тест</h1>

<%= form_with model: @test, data: { turbo: false } do |form| %>
  <fieldset>
    <%= form.label :body, "Название теста:" %><br>
    <%= form.text_field :name, id: :test_name %>

    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level, min: 1, max: 4 %>

    <%= form.label :category_id %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </fieldset>

  <div>
    <%= form.submit "Добавить тест", id: "submit_button", disabled: true %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const textarea = document.getElementById("test_name");
    const submitBtn = document.getElementById("submit_button");

    function setDisabled() {
      submitBtn.disabled = textarea.value.trim() === "";
    }

    textarea.addEventListener("input", setDisabled);

    setDisabled();
  });
</script>
