<footer>
  <div>
    <p><%= current_year %> <%= t("common.project.year") %></p>
    <p><%= t("common.project.author") %></p>
    <p><%= t("common.project.description") %></p>
    <p><%= github_url('vyachowski', 'test-guru') %></p>
    <%= link_to t("common.project.thinknetica_link_text"),
                'https://thinknetica.com',
                target: '_blank' %>
  </div>
</footer>
