<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Панель администратора | TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'shared/flash' %>
        <%= render 'admin/nav' %>
      </header>
      <main class="py-4">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
